template(name='header')
  div.container
    div.row
      div.col-md-3
        div#main-logo.text-center
          a(href='')
            img(src='http://placehold.it/100x50')
      div.col-md-9
        nav#main-menu
          ul.list-inline.list-unstyled
            li: a(href="{{ pathFor 'home' }}") Home
            li: a Practice
            li: a(href="{{ pathFor 'irregular' }}") Irregular Verb
            li: a(href="{{ pathFor 'grammar'}}") Grammar
